html::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

html,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.board-container {
  width: 100%;
  height: 100%;
}

.max-h-100vh {
  max-height: 100vh;
}
.w-board {
  max-width: calc(100vh - 10rem);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 5;
}

.min-w-max-content {
  min-width: max-content;
}
