html::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

html,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.board-container {
  width: calc(100% - 2em);
  display: flex;
  align-items: center;
}
